body{
            background-color: black;
            min-width: 100%;
            max-width: 100%;
            /*background-image: url("/Users/msrinivassp/Downloads/IMG_20231201_175249_037.jpg");*/
            background-image: url("Downloads/n2.jpg");
            background-repeat: no-repeat;
            background-size: cover;

        }
        #id_name{
            color: white;
            position: relative;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: larger;
            top: -165px;
            right: -150px;
        }
        #id_cap{
            color: #8e8e8e;
            position: relative;
            top: -200px;
            right: -150px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        #top{
            position: relative;
            display: grid;
            top: -20px;
        }
        #audioCall_logo{
            position: relative;
            display: flex;
            justify-content: flex-end;
            top:-290px;
            right:60px;
        }
        #videoCall_logo{
            position: relative;
            display: flex;
            justify-content: flex-end;
            top:-390px;
            right:0px;
        }
        #rPilla{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            top:-88px;
            right: -80px;
            position: relative;
        }
        hr{
            position: relative;
            top: -450px;
        }
