#board{
    text-align: center;
    vertical-align: middle;
    width:640px;
}
body{
    text-align: center;
    vertical-align: middle;
  
}
.r1,.r2,.r3,.r4,.r5,.r6,.r7,.r8{
    float: left;
    height:80px;
    width: 80px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(123, 195,66);
    font-size: 70px;
  
}
#board{
    border: 10px solid black;
    height: 640px;
    width:640px;
}
.r1:hover,.r2:hover,.r3:hover,.r4:hover,.r5:hover,.r6:hover,.r7:hover,.r8:hover{
    
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 83px;
   /* background-color: blue; */
    border-radius: 5px;
}
